$media-xss-min: 320px;
$media-xss: 360px;
$media-xs: 375px;
$media-sm: 480px;
$media-m: 640px;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1200px;
$media-xll: 1440px;

@mixin media-xss {
  @media (max-width: #{$media-xss}) {
    @content;
  }
}
@mixin media-xs {
  @media (max-width: #{$media-xs}) {
    @content;
  }
}
@mixin media-sm {
  @media (max-width: #{$media-sm}) {
    @content;
  }
}
@mixin media-m {
  @media (max-width: #{$media-m}) {
    @content;
  }
}
@mixin media-md {
  @media (max-width: #{$media-md}) {
    @content;
  }
}
@mixin media-lg {
  @media (max-width: #{$media-lg}) {
    @content;
  }
}
@mixin media-xl {
  @media (max-width: #{$media-xl}) {
    @content;
  }
}
@mixin media-xll {
  @media (max-width: #{$media-xll}) {
    @content;
  }
}
