@import 'variables';
@import 'breakpoints';
@import 'mixins';
@import 'fonts';
@import 'scroll';

html {
  box-sizing: border-box;
}

body {
  min-width: $media-xss-min;
  background-color: $color_bg-light;
}

html,
body,
#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.main {
  max-width: $media-xll;
  height: 100%;
  margin: 0 auto;

  @include flex-column-top();
}
