@import 'assets/styles/base';

.search {
  position: relative;
  left: 13px;
  width: 100%;
  max-width: 273px;
  padding-top: 30px;

  input {
    border-radius: 3px;
  }

  &__icon {
    &::before {
      position: absolute;
      left: -26px;
      width: 27px;
      height: 27px;
      padding: 4px;
      background-color: $color_white;
      background-image: url('../../assets/img/magnifier.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;
      border: 1px solid $color_accent;
      content: '';
    }
  }

  &__clear {
    position: absolute;
    right: 8px;
    bottom: 7px;
    width: 12px;
    height: 12px;
    background-image: url('../../assets/img/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}
