@import 'assets/styles/base';

.btn {
  padding: 10px 15px;
  color: $color_accent;
  font-size: 14px;
  background: transparent;
  border: 1px solid $color_accent;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    color: $color-white;
    background-color: $color_accent;
  }
}
